.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.stats {
    flex: 0 0 25%;
    margin-left: 2vw; 
}

.submissions {
    flex: 1;
}
