.postContainer {
  margin: 20px;
  padding: 20px;
}

.postTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.postLink {
  color: #0070f3;
  text-decoration: none;
}

.postLink:hover {
  text-decoration: underline;
}

.postInfo {
  margin-top: 10px;
  color: #666;
}

.commentsContainer {
  margin-top: 20px;
}

.comment {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px 0;
}

.commentAuthor {
  font-weight: bold;
  margin-bottom: 5px;
}

.commentsContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.commentScoreContainer {
  display: flex;
  align-items: center;
}

.upvoteIcon,
.downvoteIcon {
  filter: invert(1);
}

.commentScore{
  margin: 5px;
}