.inputContainer {
  text-align-last: center;
  text-align: -webkit-center;
  margin: 1vmin;
  font-size: 3vmin;
}

.inputSuggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 100%;
  left: 0;
  border-top: none;
  z-index: 1;
}

.suggestionButton {
  width: 100%;
  padding: 8px;
  background-color: rgb(11,20,22);
  color: rgb(236,244,245);
  border: none;
  text-align: left;
  cursor: pointer;
  width: fit-content;
}

.suggestionButton:hover {
  background-color: #000000;
}

.suggestion {
  width: auto;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.selectContainer {
  margin-bottom: 1vh;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.dropdownList {
  height: 0;
  width: 0;
  overflow: hidden;
}

.option {
  padding: 8px;
  cursor: pointer;
}

.selectedRange {
  margin-top: 16px;
  font-size: 18px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchContainer {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 1vh;
}

.submitButton {
  font-size: 4vmin;
}

.dateSelection {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

.submitContainer {
  display: flex;
  justify-content: center;
}