.container {
  max-width: 90vw;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.postList {
  list-style-type: none;
  padding: 0;
}

.post {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.postTitle {
  margin-bottom: 10px;
}

.post a {
  text-decoration: none;
}

.postScoreContainer {
  display: flex;
  align-items: center;
}

.upvoteIcon,
.downvoteIcon {
  filter: invert(1);
}

.postScore {
  margin: 5px;
}

.subredditImage {
  height: 6vmin;
  width: 6vmin;
  margin-right: 2vw;
  border-radius: 6vmin;
}

.postUrl {
  word-break: break-all;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.pagination button {
  display: flex;
  background-color: var(--reddit-orange);
  color: var(--text-color);
  padding: 10px 20px;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 5px;
  width: 25vh;
  font-size: 3vmin;
  font-weight: bold;
  align-items: center;
}

.pagination button:hover {
  background-color: var(--reddit-darker-orange);
}

.pagination button:disabled {
  visibility: hidden;
}

.postSubreddit, 
.postAuthor,
.postBody,
.postScore {
  color: var(--text-color);
  font-size: 2vmin;
  margin: 1vmin;
  word-wrap: break-word;
}

.postUrl {
  color: var(--text-color);
  font-size: 2vmin;
  margin: 1vmin;
}

.postAuthor {
  color: var(--text-color);
  font-size: 2vmin;
  margin: 1vmin;
}

.postTitle {
  color: var(--text-color);
  font-size: 4vmin;
  margin: 1vmin;
}

.pageNumber {
  color: var(--text-color);
  font-size: 3vmin;
}

.nextPageNumber {
  text-align: center;
}

.postImage {
  max-width: 80vmin;
  max-height: 80vmin;
}

.postTop {
  display: flex;
  align-items: center;
}