.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.postList {
  list-style-type: none;
  padding: 0;
}

.post {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.postTitle {
  margin-bottom: 10px;
}

.post a {
  text-decoration: none;
}

.postScoreContainer {
  display: flex;
  align-items: center;
}

.upvoteIcon,
.downvoteIcon {
  filter: invert(1);
}

.postScore {
  margin: 5px;
}

.subredditImage {
  height: 32px;
  width: 32px;
}

.postUrl {
  word-break: break-all;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: var(--reddit-orange);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: var(--reddit-darker-orange);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
