/Data/reddit/comments/*.json
/Data/reddit/submissions/*.json
/Data/reddit/comments/*.zst
/Data/reddit/submissions/*.zst
/subreddits(HUGE).txt
/Data/*.parts
/Data/reddit/icons/*.png
/Data/imgur/images/*jpeg
/Data/imgur/images/*png
/Data/imgur/images/*jpg
/Data/imgur/images/*tiff
/Data/imgur/*lnk
/reddit-clone/subreddits(HUGE).txt
/Data/imgur/imgur_20240106055037_f1cea2ab.1683789516.megawarc.warc.zst
/reddit-clone/pages/api/Meilisearch.txt
/reddit-clone/pages/api/Meilisearch.py
Data/imgur/*.warc
/Data/imgur/media